<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track your daily mood</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">

  
  
</head>

<body>
{{{body}}}

<!-- Login or Logout button, depending on if the user is currently logged in -->

  {{#if logged_in}}
  <button class="no-button" id="logout">logout</button> 
  {{else}}
  <a href="/login">login</a>
  {{/if}}
  
  <!-- Individual page body (homepage, login, or moodpage) -->
</body>

<footer>

</footer>

</html>

<script src="/js/logout.js"></script>