<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track your daily mood</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Login or Logout button, depending on if the user is currently logged in -->
  <nav>
  {{#if logged_in}}
  <button class="no-button" id="logout">logout</button>
  {{else}}
  <a href="/login">login</a>
  {{/if}}
  </nav>

  <!-- Individual page body (homepage, login, or moodpage) -->
  {{{body}}}
</body>


<footer>
</footer>

</html>

<script src="/js/logout.js"></script>