<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mudi - Track your daily mood</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        .mood-options {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .mood-option {
            margin: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .mood-option:hover {
            background-color: #0056b3;
        }
    </style>
</head>
    <body>
    <div class="container">
        <h1>How was your overall mood today?</h1>
 <html>
{{!-- This section below allows handlebars to grab the emojis from the Openmoji library --}}
<script>
    function get_emoji(emoji) {
        let emoji_code = [...emoji].map(e => e.codePointAt(0).toString(16).padStart(4, '0')).join(`-`).toUpperCase()
        if (emoji_code.length === 10) emoji_code = emoji_code.replace("-FE0F", "");
        new_url = `https://openmoji.org/data/color/svg/${emoji_code}.svg`
        document.write(`<img src=${new_url} style="height: 80px;">`);
    }
    get_emoji("😄")
    get_emoji("😊")
    get_emoji("😐")
    get_emoji("😔")
    get_emoji("😡")
    get_emoji("😖")
</script>

</html>
        <div class="mood-options">
            <div class="mood-option">Happy</div>
            <div class="mood-option">Content</div>
            <div class="mood-option">Neutral</div>
            <div class="mood-option">Sad</div>
            <div class="mood-option">Angry</div>
            <div class="mood-option">Anxious</div>
        </div>
    </div>
</body>
</html>