/* Path: public/css/login.css */
:root 
body {
  background-color: #6bb2ff;
align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  size: 30px;
}

#email-login,
#password-login,
 #name-signup,
 #email-signup,
 #password-signup {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: auto;
  margin: auto;
  width: auto;
  margin-left: auto;
}

.btn-primary {
  background-color: #6bb2ff;
  border: solid 3px white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* padding: 5px; */
  width: 90%;
  /* align-items: center; */
  margin-left: 25px;
}

.login-form,
.signup-form {
  margin-left: 20px;
  color: white;
  align-items: center;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.lbl {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
}

